*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #f4f4f4;
}

a{
  text-decoration: none;
  color: inherit;
}

.navbar{
  background-color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar input{
  padding: 10px;
  width: 250px;

  border: 1px solid #ccc;
  border-radius: 5px;

  outline: none;
}
.title{
  text-align: center;
  margin-top: 20px;
}
.products{
  padding: 30px;

  display: flex;

  flex-wrap: wrap;

  gap: 20px;

  justify-content: center;
}

.card{
  background-color: white;

  padding: 15px;

  border-radius: 10px;

  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  transition: 0.3s;

  width: 250px;
}

.card:hover{
  transform: translateY(-5px);
}

.card img{
  width: 100%;
  height: 200px;

  object-fit: cover;

  border-radius: 10px;
}

.card h3{
  margin-top: 10px;
}

.card p{
  margin-top: 10px;

  color: green;

  font-weight: bold;
}
.loader-container{
  display: flex;

  justify-content: center;

  margin-top: 100px;
}

.loader{
  width: 50px;
  height: 50px;

  border: 5px solid #ddd;

  border-top: 5px solid black;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin{

  100%{
    transform: rotate(360deg);
  }

}
.details-container{
  padding: 30px;
}

.back-btn{
  padding: 10px 20px;

  border: none;

  background-color: black;

  color: white;

  border-radius: 5px;

  cursor: pointer;

  margin-bottom: 20px;
}

.details-card{
  background-color: white;

  padding: 20px;

  border-radius: 10px;

  display: flex;

  gap: 30px;

  align-items: center;

  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.details-card img{
  width: 350px;

  border-radius: 10px;
}

.details-content{
  display: flex;

  flex-direction: column;

  gap: 15px;
}

.price{
  color: green;

  font-size: 22px;

  font-weight: bold;
}

.loading-text{
  text-align: center;

  margin-top: 100px;
}